@import url('https://fonts.cdnfonts.com/css/outfit');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body{
  background: linear-gradient( rgb(0, 43, 44), rgb(0, 0, 0));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #2c3e50, #00cec9);
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  animation: fadeIn 0.5s ease-out;
} 

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border: none;
  outline: none;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button{
  border: none;
  outline: none;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.3s ease;
}

.search button:hover{
  background: #d3f5f5;
}

.search button:active{
  background: #ebfffc;
}

.search button img{
  width: 16px;
}

.weather-icon{
  width: 150px;
  margin-top: 30px;
  animation: fadeIn 0.5s ease;
}

.weather h1{
  font-size: 60px;
  font-weight: 500;
  animation: fadeIn 0.5s ease-out;
}

.weather h2{
  font-size: 60px;
  font-weight: 400;
  margin-top: -10px;
  animation: fadeIn 0.5s ease-out;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
  animation: fadeIn 0.5s ease-out;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 35px;
  margin-right: 10px;
}

.humidity, .wind{
  font-size: 22px;
  margin-top: -4px;
}


/* ------------------------------------------- */

/* .weather{
  display: none;
} */

.error,
.error1{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
  animation: fadeIn 0.3s ease-out;
}
